// theme colors

// #524D4D, #000, #2A0044, border -> (#646262, #C1C1C1, rgba(255, 255, 255, 0.3)), btn -> #3C2A47, #565656, form border -> #494949

$white-color: #fff;
$dark-color: #333;

// fonts -> ubuntu, lora & seaweedScript regular
$ubuntu-bold: 'ubuntu-bold';
$ubuntu-medium: 'ubuntu-medium';
$ubuntu-regular: 'ubuntu-regular';
$ubuntu-light: 'ubuntu-light';
$lora-bold: 'lora-bold';
$lora-semibold: 'lora-semibold';
$lora-medium: 'lora-medium';
$lora-regular: 'lora-regular';
$seaweedScript-regular: 'seaweedScript-regular';
