// theme colors
$color-white: #fff;
$color-black: #000;
$color-btn: #3c2a47;
$color-primary: #2a0044;
$color-gray: #524d4d;
$color-border: #646262;
$color-border-light: #c1c1c1;
$color-border-dark: rgba(255, 255, 255, 0.3);
$color-form-border: #494949;

// fonts -> ubuntu, lora & seaweedScript regular
$ubuntu-bold: 'ubuntu-bold';
$ubuntu-medium: 'ubuntu-medium';
$ubuntu-regular: 'ubuntu-regular';
$ubuntu-light: 'ubuntu-light';
$lora-bold: 'lora-bold';
$lora-semibold: 'lora-semibold';
$lora-medium: 'lora-medium';
$lora-regular: 'lora-regular';
$seaweedScript-regular: 'seaweedScript-regular';
