body {
  font-size: 3rem;
  color: $dark-color;
  background-color: $white-color;
  font-family: $seaweedScript-regular;
  background-image: url('../images/bg-image.png');
  background-repeat: no-repeat;
  background-size: cover;
}
