/**
  ** fonts:
  **  1. ubuntu
  **  2. lora
  **  3. seaweedScript regular
*/

// ubuntu
@font-face {
  font-family: 'ubuntu-bold';
  src: url('../fonts/ubuntu/Ubuntu-Bold.ttf');
}

@font-face {
  font-family: 'ubuntu-medium';
  src: url('../fonts/ubuntu/Ubuntu-Medium.ttf');
}

@font-face {
  font-family: 'ubuntu-regular';
  src: url('../fonts/ubuntu/Ubuntu-Regular.ttf');
}

@font-face {
  font-family: 'ubuntu-light';
  src: url('../fonts/ubuntu/Ubuntu-Light.ttf');
}

// lora
@font-face {
  font-family: 'lora-bold';
  src: url('../fonts/lora/Lora-Bold.ttf');
}

@font-face {
  font-family: 'lora-semibold';
  src: url('../fonts/lora/Lora-SemiBold.ttf');
}

@font-face {
  font-family: 'lora-medium';
  src: url('../fonts/lora/Lora-Medium.ttf');
}

@font-face {
  font-family: 'lora-regular';
  src: url('../fonts/lora/Lora-Regular.ttf');
}

// seaweedScript regular
@font-face {
  font-family: 'seaweedScript-regular';
  src: url('../fonts/seaweedScript-regular/SeaweedScript-Regular.ttf');
}
